
#wb_header { height: 191px; }
#wb_header > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 1605px; padding-bottom: 60px; }
#wb_main > .wb_cont_bg { background: transparent none repeat-x left top; background-size: auto auto; }
#wb_footer { height: 90px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: #ffffff none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1886px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1826px; overflow: visible; min-height: 1886px; }
#wb_element_instance0 { top: 23px; left: 251px; min-width: 660px; width: 660px; min-height: 49px; height: 49px; display: block; z-index: 619; }
#wb_element_instance1 { top: 91px; left: 251px; min-width: 660px; width: 660px; min-height: 36px; height: 36px; display: block; z-index: 624; }
#wb_element_instance2 { top: 130px; left: 0; right: 0; min-height: 61px; height: 61px; display: block; z-index: 828; }
#wb_element_instance2 > ul { display: block; }
#wb_element_instance2 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance2, #wb_element_instance2 ul { text-align: center; }
#wb_element_instance2 ul ul { background: #1f1f1f none repeat left top; }
#wb_element_instance2 li { margin: 0px 10px 0px 10px; }
#wb_element_instance2 li a { text-transform: none; border: 0px none #000000; padding: 25px 30px 20px 30px; font: normal bold 14px Poppins,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat left top; }
#wb_element_instance2 li.over > a, #wb_element_instance2 li:focus > a { border: 0px none #000000; font: normal bold 14px Poppins,sans-serif; text-decoration: none; color: #d28f5c; line-height: 16px; background: transparent none no-repeat center bottom; }
#wb_element_instance2 li.active > a { border: 0px none #000000; font: normal bold 14px Poppins,sans-serif; text-decoration: none; color: #d28f5c; line-height: 16px; background: transparent none no-repeat center bottom; }
#wb_element_instance2:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance2:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance2:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance3 { top: 10px; left: 890px; min-width: 310px; width: 310px; min-height: 24px; height: 24px; display: block; z-index: 627; }
#wb_element_instance4 { top: 0px; left: 0; right: 0; min-height: 90px; height: 90px; display: block; z-index: 487; }
#wb_element_instance4 > .wb_shp { background: #f2f2f2 none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 10px 0px; -moz-border-radius: 0px 0px 10px 0px; -webkit-border-radius: 0px 0px 10px 0px; width: 100%; height: 90px; }
#wb_element_instance5 { top: 0px; left: 0; right: 0; min-height: 190px; height: 190px; display: block; z-index: 412; }
#wb_element_instance5 > .wb_shp { background: #ffffff none repeat center center; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 190px; }
#wb_element_instance6 { top: 236px; left: 190px; min-width: 840px; width: 840px; min-height: 48px; height: 48px; display: block; z-index: 392; }
#wb_element_instance7 { top: 318px; left: 360px; min-width: 490px; width: 490px; min-height: 84px; height: 84px; display: block; z-index: 393; }
#wb_element_instance8 { top: 750px; left: 80px; min-width: 460px; width: 460px; min-height: 144px; height: 144px; display: block; z-index: 394; }
#wb_element_instance9 { top: 680px; left: 80px; min-width: 460px; width: 460px; min-height: 64px; height: 64px; display: block; z-index: 403; }
#wb_element_instance10 { top: 1137px; left: 611px; min-width: 470px; width: 470px; min-height: 64px; height: 64px; display: block; z-index: 408; }
#wb_element_instance11 { top: 1213px; left: 610px; min-width: 470px; width: 470px; min-height: 72px; height: 72px; display: block; z-index: 406; }
#wb_element_instance12 { top: 1085px; left: 90px; min-width: 390px; width: 390px; min-height: 400px; height: 400px; display: block; z-index: 412; }
#wb_element_instance12 > .wb_shp { background: transparent url("../gallery_gen/70390ced5afc14f0f5b565cc9004ddad.jpg") repeat scroll center center; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 390px; height: 400px; }
#wb_element_instance13 { top: 610px; left: 660px; min-width: 385px; width: 385px; min-height: 450px; height: 450px; display: block; z-index: 414; }
#wb_element_instance13 > .wb_shp { background: transparent url("../gallery_gen/03c7739f8f23fb4a4d51fe0bcad59e15.jpg") repeat scroll center center; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 385px; height: 450px; }
#wb_element_instance14 { top: 0px; left: 0; right: 0; min-height: 610px; height: 610px; display: block; z-index: 388; }
#wb_element_instance15 { top: 1050px; left: 0; right: 0; min-height: 20px; height: 20px; display: block; z-index: 409; }
#wb_element_instance16 { top: 1505px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance17 { top: 110px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance0 p:last-child { margin-bottom: 0; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance14 span { position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; background: repeat center center; background-size: cover; }
#wb_element_instance15 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #616161;; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
